<!DOCTYPE html>
<html>
  <head>
    <title>Book Collection: Searches</title>
    <link rel="stylesheet" type="text/css" href="/styles/reset.css" />
    <link rel="stylesheet" type="text/css" href="/styles/base.css" />
    <link rel="stylesheet" type="text/css" href="/styles/layout.css" />
    <link rel="stylesheet" type="text/css" href="/styles/modules.css" />
  </head>
  <body>
    <main>
      <h4>Search Results</h4>
      <ul>
        <% searchesResults.forEach(book => { %>
        <li> 
          <div class='result'>
            <img src= <%= book.image %>>
              <h5><%= book.title %></h5>
              <p class='author' >Written By: <%= book.author %></p>
              <p class='description'><%= book.description %></p>
          </div>
        </li>
        <% }) %>
      </ul>
    </main>
  </body>
</html>