<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="/styles/reset.css" />
    <link rel="stylesheet" type="text/css" href="/styles/base.css" />
    <link rel="stylesheet" type="text/css" href="/styles/layout.css" />
  </head>
  <body>
    <main>
      <h4>Error 404: Page not found</h4>
      <div>
        <img src='https://c2.staticflickr.com/4/3062/2634356788_8583bf48c4_z.jpg?zz=1'/>
      </div>
    </main>
  </body>

</html>