
ul{
  width: 100vw;

}
 li{
   margin:auto;
 }
div{
  width: 80vw;
  height: 110vw;
  margin: 1.8rem;
  border: outset white .25rem;
  margin:auto 10vw 3vw;
  padding: 5px
}
ul{ 
  width: 80vw;
}
@media screen and (min-width: 430px) {
  ul{
    width: 100vw;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  li div{
    width: 350px;
    height: 500px;
    margin: 10px 0;
  }
}
