div{
  max-width: 600px;
  width: 40rem;
  height: auto;
  margin: 1.8rem auto;
  border: outset white .25rem;
}

input:invalid {
  border: 2px solid red;
}

input:valid {
  border: 2px solid black;
}